[submodule "plugin-bullet"]
	path = packages/plugin-bullet
	url = https://github.com/node-3d/plugin-bullet.git
[submodule "core"]
	path = packages/core
	url = https://github.com/node-3d/core.git
[submodule "plugin-qml"]
	path = packages/plugin-qml
	url = https://github.com/node-3d/plugin-qml.git
[submodule "plugin-webaudio"]
	path = packages/plugin-webaudio
	url = https://github.com/node-3d/plugin-webaudio.git
[submodule "addon-tools"]
	path = packages/addon-tools
	url = https://github.com/node-3d/addon-tools.git
[submodule "bullet"]
	path = packages/bullet
	url = https://github.com/node-3d/bullet.git
[submodule "cuda"]
	path = packages/cuda
	url = https://github.com/node-3d/cuda.git
[submodule "deps-bullet"]
	path = packages/deps-bullet
	url = https://github.com/node-3d/deps-bullet.git
[submodule "deps-freeimage"]
	path = packages/deps-freeimage
	url = https://github.com/node-3d/deps-freeimage.git
[submodule "deps-labsound"]
	path = packages/deps-labsound
	url = https://github.com/node-3d/deps-labsound.git
[submodule "deps-opengl"]
	path = packages/deps-opengl
	url = https://github.com/node-3d/deps-opengl.git
[submodule "deps-qmlui"]
	path = packages/deps-qmlui
	url = https://github.com/node-3d/deps-qmlui.git
[submodule "deps-qt-core"]
	path = packages/deps-qt-core
	url = https://github.com/node-3d/deps-qt-core.git
[submodule "deps-qt-gui"]
	path = packages/deps-qt-gui
	url = https://github.com/node-3d/deps-qt-gui.git
[submodule "deps-qt-qml"]
	path = packages/deps-qt-qml
	url = https://github.com/node-3d/deps-qt-qml.git
[submodule "deps-uiohook"]
	path = packages/deps-uiohook
	url = https://github.com/node-3d/deps-uiohook.git
[submodule "glfw"]
	path = packages/glfw
	url = https://github.com/node-3d/glfw.git
[submodule "image"]
	path = packages/image
	url = https://github.com/node-3d/image.git
[submodule "iohook"]
	path = packages/iohook
	url = https://github.com/node-3d/iohook.git
[submodule "opencl"]
	path = packages/opencl
	url = https://github.com/node-3d/opencl.git
[submodule "qml-colorhelpers"]
	path = packages/qml-colorhelpers
	url = https://github.com/node-3d/qml-colorhelpers.git
[submodule "qml-fontawesome"]
	path = packages/qml-fontawesome
	url = https://github.com/node-3d/qml-fontawesome.git
[submodule "qml"]
	path = packages/qml
	url = https://github.com/node-3d/qml.git
[submodule "qml-themedui"]
	path = packages/qml-themedui
	url = https://github.com/node-3d/qml-themedui.git
[submodule "segfault"]
	path = packages/segfault
	url = https://github.com/node-3d/segfault.git
[submodule "webaudio"]
	path = packages/webaudio
	url = https://github.com/node-3d/webaudio.git
[submodule "webgl"]
	path = packages/webgl
	url = https://github.com/node-3d/webgl.git
